*:focus {
    outline: none !important
}

* {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.nav, .pagination, .panel-title a {
    cursor: pointer;
}

.label-civ {
    background-color: #8B008B;
}

.label-cop {
    background-color: #0000CD;
}

.label-medic {
    background-color: #228B22;
}

.label-adac {
    background-color: #C00100;
}

.label-large {
    font-size: 14px;
    line-height: 2;
}

.margin-none {
    margin: 0;
}

.list-group-unbordered > .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.btn, .nav, .btn-sm, .btn-group-sm > .btn {
    border-radius: 0;
}

.navbar {
    -webkit-app-region: drag;
    background-color: #0d0e0e ;
    border-bottom: 10px solid #cb3131;
}

button, .nav {
    -webkit-app-region: no-drag
}

.container-navbar {
    margin-left: 25px;
    margin-right: 15px;
    width: auto;
}

.btn-close {
    height: 30px;
    margin-top: 7px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 60px;
}

.btn-minimize {
    height: 30px;
    margin-top: 7px;
    margin-right: 10px;
    padding-bottom: 0;
    padding-top: 10px;
    width: 60px;
}

.content {
    margin-top: 55px;
}

.main-nav {
    background-color: #2a2a2a;
}

.main-nav > li > a {
    background-color: #2a2a2a !important;
    border: none !important;
    cursor: pointer;
}

.main-nav > li > a:hover {
    color: #cb3131 !important;
}

.main-nav > li.active > a {
    color: #992D2D !important;
}

.main-nav > li.active > a:hover {
    color: #bf3939 !important;
}

.main-content {
    height: 410px;
    margin-top: 30px;
    padding: 10px;
}

.pg-bars {
    margin-top: 20px;
}

.progress {
    margin: 0;
    height: 30px;
    margin-top: 10px;
}

.panel-mod {
    text-align: center;
}

.modImg {
    width: 320px;
}

.list-group-item {
    background-color: transparent;
}

.loading-centered {
    width: 100%;
    text-align: center;
}

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../../resources/img/bg.png");
    height: 100%;
    width: 100%;
    opacity: 0.1;
}

.centered {
    text-align: center;
}

.no-deco {
    text-decoration: none !important;
}

/*
alertify
*/

.alertify,
.alertify-log {
    font-family: sans-serif;
}

.alertify {
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.alertify-dialog {
    padding: 0;
    background-color: #4e5d6c;
}

.alertify-inner {
    text-align: left;
}

.alertify-message {
    padding: 15px;
    color: #ffffff;
    background-color: #cb3131;
    margin: 0;
}

.alertify-text-wrapper {
    padding: 0 15px;
}

.alertify-text {
    color: #555;
    border-radius: 4px;
    padding: 8px;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    text-align: left;
}

.alertify-buttons {
    padding: 10px 15px;
    background-color: #2a2a2a;
    text-align: right;
}

.alertify-button {
    color: #ffffff !important;
    font-family: inherit;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none !important;
}

.alertify-button:focus, .alertify-button:hover {
    color: #ffffff !important;
}

.alertify-button-cancel {
    background-color: #f39c12;
    border-color: transparent;
}

.alertify-button-cancel:hover {
    background-color: #c87f0a;
}

.alertify-button-ok {
    background-color: #38b44a;
    border-color: transparent;
}

.alertify-button-ok:hover {
    background-color: #2c8d3a;
}

.alertify-log {
    color: #ffffff;
    padding: 10px 15px;
    margin: 5px;
}

.alertify-log-danger {
    background-color: #c9302c;
}

.alertify-log-success {
    background-color: #5cb85c;
}

.alertify-log-primary {
    background-color: #df691a;
}